<h1>色・サイズの編集</h1>
<h3>商品名：<%= @Product.p_name %></h3>
<br/>

<%= form_for @ProductVariety, url: "/products/#{params[:product_id]}/product_varieties", method: :post  do |f| %>
<p>色：<%= f.text_field :color %></p>
<p>サイズ：<%= f.text_field :size %></p>
<p>価格：<%= f.text_field :price %></p>
<p><%= f.radio_button 'stock', 'true' %> 在庫あり</p>
<p><%= f.radio_button 'stock', 'false' %> 在庫なし</p>
<%= f.submit "更新" %>
<% end %>

