<h1>色・サイズの詳細</h1>

<h3>商品名：<%= @Product.p_name %></h3>
<br/>


<p>色:<%= @ProductVariety.color %></p>
<p>サイズ:<%= @ProductVariety.size %></p>
<p>価格:<%= @ProductVariety.price %></p>
<% if @ProductVariety.stock %>
  <p>在庫:あり</p>
<% else %>
  <p>在庫:なし</p>
<% end %>

<br/>


<% if user_signed_in? %>
  <% if @ProductVariety.stock %>
    <%= form_for @cart ,url: "/users/#{current_user.id}/carts" ,method: :post do |f| %>
      <p>購入数</p>
      <p><%= f.text_field :quantity %></p>
      <%= f.hidden_field :product_variety_id, :value => @ProductVariety.id  %>
      <br/>
      <p><%= f.submit "カートに入れる", class: "btn btn-primary" %></p>
    <% end %>
  <% else %>
    <p><%= link_to "お取り寄せする", root_path, class: "btn btn-primary" %></p>
  <% end %>
<% else %>
  <p><%= link_to "ログインしてカートに入れる", new_user_session_path, class: "btn btn-primary" %></p>
<% end %>



