<div class= admin_adminpage >
  <h1 class="admin_title">管理者ページ</h1>
  <%= render_breadcrumbs separator: ' > ' %>
  <hr>
  <div class="admin_icons">
    <div class="admin_newsell_contents">
      <%= link_to new_product_path do %>
        <i class="material-icons admin_newsell">fiber_new</i>
        <span>新規出品</span>
      <% end %>
    </div>
    <div class="admin_newuser_contents">
      <%= link_to users_new_path do %>
        <i class="material-icons admin_newuser">group_add</i>
        <span>新規管理者登録</span>
      <% end %>
    </div>
    <div class="admin_Purchase_history_contents">
      <%= link_to admin_index_orders_path do %>
        <i class="material-icons admin_Purchase_history">event_note</i>
        <span>購入された商品一覧</span>
      <% end %>
    </div>
  </div>


  <div class="admin_products_edit">
    <% @products.each do |product| %>
      <p>商品名：<%= product.p_name %></p>
      <p>価格：<%= product.price %></p>
      <p>商品詳細：<%= product.description %></p>
      <td><button type="button" class="btn btn-default"><%= link_to "編集ページ", edit_product_path(product) %></button>
      </td>
    <% end %>
  </div>
</div>




