<div class= admin_adminpage >
  <h1 class="admin_title">管理者ページ</h1>
  <%= render_breadcrumbs separator: ' > ' %>
  <hr>
  <div class="admin_icons">
    <div class="admin_newsell_contents">
      <%= link_to new_product_path do %>
        <i class="material-icons admin_newsell">fiber_new</i>
        <span>新規出品</span>
      <% end %>
    </div>
    <div class="admin_Product_exhibition_contents">
      <%= link_to admin_index_products_path do %> 
        <i class="material-icons admin_Product_exhibition">event_note</i>
        <span>出品中の商品一覧</span>
    　<% end %>
    </div>
    <div class="admin_Purchase_history_contents">
      <%= link_to admin_index_orders_path do %>
        <i class="material-icons admin_Purchase_history">card_giftcard</i>
        <span>販売履歴一覧</span>
      <% end %>
    </div>
    <div class="admin_newuser_contents">
      <%= link_to users_new_path do %>
        <i class="material-icons admin_newuser">group_add</i>
        <span>新規管理者登録</span>
      <% end %>
    </div>
  </div>
</div>


