<h1>確認画面</h1>
<p>お届け先</p>
<p>お支払い方法</p>

<hr>
<% if @cart.empty? %>
  <p>現在、カートに入っている商品はありません。</p>
  <p><%= link_to "カートに戻る", user_carts_path(current_user.id) %></p>
<% else %>
  <% total = 0 %>
  <% @cart.each do |item| %>
    <p>商品ID:<%= item.product_variety_id %></p>
    <p>商品名:<%= link_to item.product_variety.product.p_name, product_product_variety_path(item.product_variety.product.id,item.product_variety.id) %></p>
    <p>価格:<%= item.product_variety.price %>円</p>
    <p>購入数:<%= item.quantity %></p>
    <p>小計：<%= item.product_variety.price * item.quantity %>円</p>
    <% total += item.product_variety.price * item.quantity %>
    <p>------------------------------</p>
  <% end %>
  <h3>合計:<%= total %> 円</h3>
  <!-- 配送料無料の判定 -->
  <% if total >= 50000 %>
    <% postage = 0 %>
  <% else %>
    <% postage = 1000 %>
  <% end %>
  <h3>配送料:<%= postage %>円</h3>
  <h3>ご請求金額:<%= total + postage %>円</h3>



<% end %>



<p class="btn-center"><%= link_to "　注文を確定する　", orders_path, class: "btn btn-primary btn-lg",method: :post %></p>