<div class="product_contents">

  <!-- 検索された場合はトップ画像を非表示にする -->
  <br>
  <% if params[:p_name].present? %>
    <h1 class="search_results">検索結果</h1>
  <% else %>
    <!-- トップ画像 -->
    <div class="top_js_images">
      <h1 class="shopname">
        Shoes Craft
      </h1>
    </div>
  <% end %>

  <div class="root_collection">
    <div class="root_collection_name" >
      <!-- 検索された場合はcollectionの文字を非表示にする -->
      <% unless params[:p_name].present? %>
        <h1 class="text-center root_collection_title">collection</h1>
      <% end %>

      </div>
      <div class="root_product_pageinate_top">
        <%= paginate @products %>
      </div>
      <div class="root_p-line">
      </div>
      <div class="root_product clearfix">
      <% @products.each do |product| %>
        
          <div class="root_p-box">
            <p class="text-center"><%= product.image %></p>
            <div>
              <% if product.product_images.present? %>
                <div>
                  <!-- 登録されている画像の一番最初の画像を表示 -->
                  <%= image_tag product.product_images.first.image %>
                </div>
              <% else %>
                <div><%= image_tag 'noimage.gif' %></div>
              <% end %>
            </div>
            <p class="product_name"><%= link_to product.p_name , product_path(product.id),class: "contents_link" %></p>
            <p>価格:<%= product.price %>円</p>
            <!-- セールと通常時の価格の切り替え -->
            <% if product.sale %>
              <!-- セール時の価格 -->
              <p>
                <span class="sale-normal-price">通常価格:<%= product.price %>円</span><br/>
                <span class="sale-price">セール価格：<%= product.sale_price %>円 (<%= product.discount_rate %>％ OFF)</span>
              </p>
            <% else %>
              <!-- 通常時の価格 -->
              <p>¥<%= product.price %></p>
            <% end %>

            
            <!-- <p>商品詳細:<%= product.description %></p> -->
            <p><%= link_to product.category.category_name, "/categories/#{product.category_id}",class: "contents_link" %></p>
          </div>
       
      <% end %>
      </div>
    </div>
    <div class="product_pageinate_down">
      <%= paginate @products %>
    </div>
  </div>
</div>

<!-- 検索にヒットする商品がない場合の表示 -->
<% if @products.empty? %>
  <p class="too_much">検索にヒットする表品はありませんでした。</p>
<% end %> 







