<div class="category_show_accessories">
<div class="category_show_page">
  <%= render_breadcrumbs separator: ' > ' %>
</div>

<div class="category_product clearfix">
<% @products.each do |product| %>
<div class="category_product_box">

<% if product.product_images.present? %>
  <div class="category_product_image">
    <!-- 登録されている画像の一番最初の画像を表示 -->
    <%= image_tag product.product_images.first.image %>
  </div>
<% else %>
  <div><%= image_tag 'noimage.gif' %></div>
<% end %>

<p>商品名：<%= link_to product.p_name, "/products/#{product.id}",class: "contents_link" %></p>

<!-- セールと通常時の価格の切り替え -->
<% if product.sale %>
  <!-- セール時の価格 -->
  <p>
    <span class="sale-normal-price">通常価格:<%= product.price %>円</span><br/>
    <span class="sale-price">セール価格：<%= product.sale_price %>円 (<%= product.discount_rate %>％ OFF)</span>
  </p>
<% else %>
  <!-- 通常時の価格 -->
  <p>¥<%= product.price %></p>
<% end %>

<p><%= product.category.category_name %></p>

</div>
<% end %>
</div>

<%= paginate @products %>
</div>