<!-- バリデーションがかかった場合のエラーメッセージを表示させる -->
<% @product.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert">
    <li><%= message %></li>
  </div>
<% end %>


<%= form_for @product do |f| %>
<div class="product-detail-box-top">
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			商品名（必須）：
		</span>
		<div class="col-sm-8 ">
			<%= f.text_field :p_name, class: "product_textbox" %>
		</div>
	</div>
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			価格（必須）：
		</span>
		<div class="col-sm-3">
			<%= f.text_field :price, class: "product_textbox" %>
		</div>
	</div>
	<div class="products-sale-box">
		<span class="col-sm-3">
			セール割引率：
		</span>
		<div class="col-sm-2">
			<%= f.text_field :discount_rate, class: "product_textbox" %>
		</div>
		<div class="product-radio-btn-box">
				<p class="product-radio-btn col-sm-2">
					<%= f.radio_button 'sale', 'true' %> セール対象
				</p>
				<p class="product-radio-btn col-sm-2">
					<%= f.radio_button 'sale', 'false' %> セール対象外
				</p>
		</div>

	</div>
</div>


<!-- ここから新しく追加した要素です -->

<div class="product-detail-box-middle">	
 	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			商品サブタイトル：
		</span>
		<div class="col-sm-8">
			<%= f.text_field :sub_name, class: "product_textbox" %>
		</div>
	</div>
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			甲革：
		</span>
		<div class="col-sm-8">
			<%= f.text_field :upper_leather, class: "product_textbox" %>
		</div>	
	</div>
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			表底：
		</span>
		<div class="col-sm-8">
			<%= f.text_field :outsole, class: "product_textbox" %>
		</div>
	</div>
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			踵：
		</span>
		<div class="col-sm-8">	
			<%= f.text_field :heel, class: "product_textbox" %>
		</div>
	</div>
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			製法：
		</span>
		<div class="col-sm-8">
		 <%= f.text_field :process, class: "product_textbox" %>
		</div>
	</div>
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			修理：
		</span>
		<div class="col-sm-8">
		<%= f.text_field :repair, class: "product_textbox" %>
		</div>
	</div>
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			ウィズ(足囲)：
		</span>
		<div class="col-sm-8">
			<%= f.text_field :width, class: "product_textbox" %>
		</div>
	</div>
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			原産国：
		</span>
		<div class="col-sm-8">
			<%= f.text_field :made_in, class: "product_textbox" %>
		</div>
	</div>
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			メーカー説明：
		</span>
		<div class="col-sm-8">
			<%= f.text_field :maker_description, class: "product_textbox" %>
		</div>
	</div>
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			商品コード：
		</span>
		<div class="col-sm-8">
			<%= f.text_field :product_code, class: "product_textbox" %>
		</div>
	</div>
	<div class="products_item">
	<span class="col-sm-3 products_new_item">
		ブランド名：
	</span>
		<%= f.collection_select :brand_id, Brand.all, :id, :brand_name, class: "product_cate" %>
	</div>
</div>

<div class="product-detail-box-umder">
	<div class="products_item2">
		<span class="col-sm-3 products_new_item">
			商品詳細：
		</span>
		<div class="col-sm-6">
			<%= f.text_area :description, :size => "50x5", class: "product_textbox2" %>
		</div>
	</div>
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			タイプ：
		</span>
		<div class="product-cate-box">
			<%= f.collection_select :category_id, Category.all, :id, :category_name, class: "product_cate" %>
		</div>
	</div>
	<div class="products_item">
		<span class="col-sm-3 products_new_item">
			画像：
		</span><%= f.file_field :image, multiple: true %>
	</div>
	<div class="products_item products_new_submit">
		<%= f.submit "出品する", class: "btn btn-primary btn-lg" %>
		<% end %>
	</div>

</div>