<div class="admin_index">
  <h1 class="admin_index_title">出品中の商品一覧</h1>
  <div class="admin_index_product clearfix">
    <% @products.each do |product| %>
      <div class="admin_index_prodct_box">
        <p>商品名：<%= product.p_name %></p>
        <p>価格：<%= product.price %></p>
        
        <button type="button" class="btn btn-default"><%= link_to "編集ページ", edit_product_path(product) %></button>
        <button type="button" class="btn btn-default"><%= link_to "この商品を削除する", "/products/#{product.id}",method: :delete, data: { confirm: '削除しますか？' } %></button>
      </div>
    <% end %>
  </div>
  <%= paginate @products %>
</div>
