<h1>出品中の商品一覧</h1>

<% @products.each do |product| %>
  <p>商品名：<%= product.p_name %></p>
  <p>価格：<%= product.price %></p>
  <p>商品詳細：<%= product.description %></p>
  <button type="button" class="btn btn-default"><%= link_to "編集ページ", edit_product_path(product) %></button>
  <button type="button" class="btn btn-default"><%= link_to "この商品を削除する", "/products/#{product.id}",method: :delete, data: { confirm: '削除しますか？' } %></button>

  <p>------------------------------</p>
<% end %>


<%= paginate @products %>
