<h1>編集</h1>
<%= render_breadcrumbs separator: ' > ' %>
<%= render 'form' %>
<div>
  <% if @product.image? %>
    <div><%= image_tag @product.image.url%></div>
  <% else %>
    <div><%= image_tag 'noimage.gif' %></div>
  <% end %>
</div>
<p><%= link_to "削除する", "/products/#{@product.id}",method: :delete %></p>


<%= link_to "Home", root_path %>
