<div class="products_edit">
  <div class="products_edit_render">
    <%= render_breadcrumbs separator: ' > ' %>
  </div>
  <h1 class="products_edit_title">編集</h1>
  <%= render 'form' %>
  <br>
  <div>
   <% if @product.product_images.present? %>
      <div class="products_edit_images">
        <% @product.product_images.each do |picture| %>
          <%= image_tag picture.image %>
          <%= link_to "この画像を削除する", product_product_image_path(@product.id ,picture.id), method: :delete, data: { confirm: '削除しますか？' } %>
          <br>
        <% end %>
      </div>
        <% else %>
          <div><%= image_tag 'noimage.gif' %></div>
        <% end %>
  </div>
  <div class="btn-center">
    <p><%= link_to "この商品を削除する", "/products/#{@product.id}",method: :delete, method: :delete, data: { confirm: '削除しますか？' }, class: "btn btn-danger btn-lg" %></p>
  </div>
  <h2 class="products_edit_select_title">Color・sizeを選択する</h2>
    <div class="products_edit_select_contents">
      <div class="btn-center">
        <p><%= link_to "商品の色・サイズを新しく追加する", new_product_product_variety_path(params[:id]),class: "btn btn-primary btn-lg"%></p>
        <div class=”table-responsive”>
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>色</th>
                <th>サイズ</th>
                <th>価格</th>
                <th>在庫</th>
                <th>選択してください</th>
                <th>選択してください</th>
              </tr>
            </thead>
             <tbody>
              <% @product_varieties.each do |item| %>
                <tr>
                  <th scope="row"><%= item.color %></p></th>
                  <td><%= item.size %>,</td>
                  <td><%= item.price %></td>
                  <% if item.stock %>
                    <td><p>在庫:あり</p></td>
                  <% else %>
                     <td><p>在庫:なし</p></td>
                  <% end %>
                  <td><button type="button" class="btn btn-default"><%= link_to "編集",edit_product_product_variety_path(params[:id],item.id)  %></button></td>
                  <td><button type="button" class="btn btn-default"><%= link_to "削除", "/products/#{params[:id]}/product_varieties/#{item.id}", method: :delete, data: { confirm: '削除しますか？' }  %></button></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="edit_link">
         <%= link_to "Home", root_path %>
        </div>
    </div>
</div>


