<h1>編集</h1>
<%= render_breadcrumbs separator: ' > ' %>

<%= form_for @product do |f| %>
<p>商品名：<%= f.text_field :p_name %></p>
<p>価格：<%= f.text_field :price %></p>
<p>商品詳細：<%= f.text_field :description %></p>
<div class="field">
  <p>
    プロフィール画像：
    <br>
    <%= f.file_field :image %>
  </p>
  <% if @product.image? %>
    <div><%= image_tag @product.image.url%></div>
  <% else %>
    <div><%= image_tag 'noimage.gif' %></div>
  <% end %>
</div>
<%= f.submit "更新" %>
<% end %>
<p><%= link_to "削除する", "/products/#{@product.id}",method: :delete %></p>


<%= link_to "Home", root_path %>
