<h1>new</h1>

<%= form_for @product do |f| %>

<p>価格:<%= f.text_field :price %></p>
<p>商品名:<%= f.text_field :p_name %></p>
<p>商品説明:<%= f.text_field :description %></p>
<p><%= f.file_field :image %></p>

<%= f.submit "登録" %>

<% end %>

<%= link_to "Home", root_path %>

