<h1>show</h1>
<p>ID：<%= @product.id %></p>
<p>価格：<%= @product.price %></p>
<p>商品名：<%= @product.p_name %></p>
<p>商品詳細：<%= @product.description %></p>


<p>
  <% if current_user.id == @product.user_id %>
    <%= link_to '編集', edit_product_path(@product) %> |
    <%= link_to '削除', @product, method: :delete, data: {confirm: '削除してもいいですか？'} %>
  <% end %>
</p>


<p><%= link_to "Home", root_path %></p>

