<div class="product_show" >
  <div class="product_render">
    <%= render_breadcrumbs separator: ' > ' %>
  </div>
  <div class="product_show_contents">
    <div class="product_show_name">
      <h1><%= @product.p_name %></h1>
    </div>
    <!-- 金額表示 -->
  <div class="product_detailed_price">
    <!-- セール対象の表示 -->
    <% if @product.sale %>
      <h3>セール対象品</h3>
    <% end %>
    <!-- セールと通常時の価格の切り替え -->
    <% if @product.sale %>
      <!-- セール時の価格 -->
      <p>
        <span class="sale-normal-price">通常価格:¥<%= @product.price %></span><br/>
        <span class="sale-price">セール価格：¥<%= @product.sale_price %>円 (<%= @product.discount_rate %>％ OFF)</span>
      </p>
    <% else %>
      <!-- 通常時の価格 -->
      <p>価格：¥<%= @product.price %></p>
    <% end %>
  </div>

  <!-- SNSシェアボタン -->
  <div class="product_sns">
  <p><%= link_to "Twitterでシェアする", "http://twitter.com/share?url=http://shoescraft.com/products/#{@product.id}", :target=>["_blank"] %></p>
  <p><%= link_to "Facebookでシェアする", "https://www.facebook.com/sharer/sharer.php?u=http://shoescraft.com/products/#{@product.id}", :target=>["_blank"] %></p>
  <p><%= link_to "LINEでシェアする", "http://line.me/R/msg/text/?http://shoescraft.com/products/#{@product.id}", :target=>["_blank"] %></p>
  </div>

  <!--  写真-->
  <div class="product_image_show_maine">
    <% @product.product_images.each do |picture| %>
     <%= image_tag picture.image %>
    <% end %>
  </div>
  </div>

  
  <!-- 商品説明内容box -->
  <table class="product_detailed_box" border=1>
    <tr>
      <td>商品コード</td>
      <td>
        <% if @product.product_code.present?%>
          <p><%= @product.product_code %></p>
        <% end %>
      </td>
    </tr>

    <tr>
      <td>カテゴリー</td>
      <td>
      <p><%= link_to @product.category.category_name, "/categories/#{@product.category_id}", class: "contents_link" %>
      </p>
      </td>
    </tr>
    <tr>
      <td>ブランド</td>
      <td>
        <% if @product.brand.present? %>
        <p><%= link_to @product.brand.brand_name, brand_path(@product.brand.id), class: "contents_link" %></p>
        <% end %>
      </td>
     </tr>
    <tr>
      <td>メーカー説明</td>
      <td>
        <% if @product.maker_description.present?%>
            <p><%= @product.maker_description %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>原産国</td>
       <td>
        <% if @product.made_in.present?%>
          <p>原産国：<%= @product.made_in %></p>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>商品サブタイトル</td>
        <td>
          <% if @product.sub_name.present?%>
            <p>商品サブタイトル：<%= @product.sub_name %></p>
          <% end %>
        </td>
    </tr>
  </table>
  <!-- 商品説明内容箱２ -->
  <table class="product_detailed_box_right" border=1>
    <tr>
      <td>甲革</td>
        <td>
          <% if @product.upper_leather.present?%>
            <p><%= @product.upper_leather %></p>
          <% end %>
        </td>
    </tr>

    <tr>
      <td>表底</td>
        <td>
          <% if @product.outsole.present?%>
            <p><%= @product.outsole %></p>
          <% end %>
        </td>
    </tr>
       
    <tr>
      <td>踵</td>
        <td>
          <% if @product.heel.present?%>
            <p><%= @product.heel %></p>
          <% end %>
        </td>
    </tr>

    <tr>
      <td>ウィズ(足囲)</td>
        <td>
          <% if @product.width.present?%>
            <p><%= @product.width %></p>
          <% end %>
        </td>
    </tr>

    <tr>
      <td>製法</td>
        <td>
          <% if @product.process.present?%>
            <p><%= @product.process %></p>
          <% end %>
        </td>
     </tr>

     <tr>
      <td>修理</td>
        <td>
          <% if @product.repair.present?%>
            <p><%= @product.repair %></p>
          <% end %>
        </td>
    </tr>
  </table>
  <div class="product_detailed_description">
    <!-- 商品詳細が設定されている場合に表示 -->
    <% if @product.description.present?%>
      <p>商品詳細：<%= @product.description %></p>
    <% end %>
  </div>

<!-- ここからsize・colorを選択のページになります -->
<div class="container product_varieties_select">
<h2 class="product_varieties_scname">size・colorを選択してください</h2>
 <div class=”table-responsive”>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>画像</th>
          <th>色</th>
          <th>サイズ</th>
          <th>選択してください</th>
        </tr>
      </thead>
      <tbody>
       <% @product.product_varieties.each do |item| %>
          <tr>
            <th scope="row"><%= @product.id  %></th>
            <td>
              <div>
                <% if item.product_variety_images.present? %>
                  <div class="product_varieties_list_images">
                    <%= image_tag item.product_variety_images.first.image %>
                  </div>
                <% else %>
                  <div><%= image_tag 'noimage.gif' %></div>
                <% end %>
              </div>
            </td>
            <td><%= item.color %></td>
            <td><%= item.size %></td>
            <td><button type="button" class="btn btn-default"><%= link_to "詳細を見る", product_product_variety_path(params[:id], item.id) %></button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
