<div class="p_show" >
 <div class="product_titleimage" >
  <%= image_tag '/assets/images/title/head.jpg' %>
   <h1>show</h1>
    <div class="p_render">
     <%= render_breadcrumbs separator: ' > ' %>
    </div>
 </div>

<p>ID：<%= @product.id %></p>
<p>価格：<%= @product.price %></p>
<p>商品名：<%= @product.p_name %></p>
<p>商品詳細：<%= @product.description %></p>
<p>カテゴリー:<%= link_to @product.category.category_name, "/categories/#{@product.category_id}" %></p>
<div>
  <% if @product.image? %>
    <div><%= image_tag @product.image.url%></div>
  <% else %>
    <div><%= image_tag 'noimage.gif' %></div>
  <% end %>
</div>

<hr>
<h2>色・サイズ等（テスト中）</h2>
<% @product.product_varieties.each do |item| %>
  <p>色:<%= item.color %></p>
  <p>サイズ:<%= item.size %></p>
  <p>価格:<%= item.price %></p>
  <p><%= link_to "詳細を見る", product_product_variety_path(params[:id], item.id) %></p>
  <p>---------------------------</p>
<% end %>