<footer class="footer">
	<div class="footer-box">
		<div class="footer-box-small col-sm-3">
			<ul class="footer-ul">
				<li>【取扱ブランド】</li>
				<li><%= link_to "REGAL", brand_path(1), class: "footer-p" %></li>
				<li><%= link_to "Crockett&Jones", brand_path(2), class: "footer-p" %></li>
				<li><%= link_to "SCOTCHGRAIN", brand_path(3), class: "footer-p" %></li>
				<li><%= link_to "HARUTA", brand_path(4), class: "footer-p" %></li>
				<li><%= link_to "JALAN SRIWIJAYA", brand_path(5), class: "footer-p" %></li>
			</ul>		
		</div>
		<div class="footer-box-small col-sm-3">
			<ul class="footer-ul">
				<li><a href="#" class="footer-p">　</a></li>
				<li><%= link_to "COLEHAAN", brand_path(6), class: "footer-p" %></li>
				<li><%= link_to "EDWARDGREEN", brand_path(7), class: "footer-p" %></li>
				<li><%= link_to "Church’s", brand_path(8), class: "footer-p" %></li>
				<li><%= link_to "Lloyd Footwear", brand_path(9), class: "footer-p" %></li>
				<li><%= link_to "CARMINA", brand_path(10), class: "footer-p" %></li>
			</ul>		
		</div>
		<div class="footer-box-small col-sm-3"></div>
		<div class="footer-box-small col-sm-3">
			<ul class="footer-ul">
				<li><a href="#" class="footer-p">　</a></li>
				<li><a href="#" class="footer-p">プライバシーポリシー</a></li>
				<li><a href="#" class="footer-p">利用規約</a></li>
				<li><a href="#" class="footer-p">特定商取引法の記載</a></li>
				<li><a href="#" class="footer-p">運営会社</a></li>
			</ul>		
		</div>
	</div>
</footer>