<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- ブレンド名 -->
      <div class="navbar-brand"> <%= link_to "Shoes Craft", root_path %>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- brandeメニュー -->
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">BRANDS <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li role="separator" class="divider"></li>
              <li><%= link_to "REGAL", brand_path(1) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Crockett&Jones", brand_path(2) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "SCOTCHGRAIN", brand_path(3) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "HARUTA", brand_path(4) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "JALAN SRIWIJAYA", brand_path(5) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "COLEHAAN", brand_path(6) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "EDWARDGREEN", brand_path(7) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Church’s", brand_path(8) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Lloyd Footwear", brand_path(9) %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "CARMINA", brand_path(10) %></li>
            </ul>
        </li>
      
        <!-- メインメニュー -->
        <li><%= link_to "COLLECTION", products_path %></li>
        <li><%= link_to "ITEM", category_path(1) %></li>
        <li><%= link_to "ACCESSORIES", category_path(2) %></li>

        <li><a href="#">CONTACT</a></li>
      </ul><!-- /.navbar-nav -->
      <!-- 検索機能 -->
      <div class="search">
        <%= form_tag(root_path, method: "get") do %>
          <%= text_field_tag :p_name, params[:p_name] %>
          <%= submit_tag "検索" %>
        <% end %>
      </div>

       <!-- devise等のログイン機能 -->
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        <!-- 管理者でログインしている時のみ管理ページへのリンクを表示させる -->
        <% if current_user.role == 1 %>
          <li><%= link_to "マイページ", "/user/#{current_user.id}" %></li> 
          <li><%= link_to "管理者ページ", "/users/adminpage" %></li> 
          <li><%= link_to "ログアウト",destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "マイページ", "/user/#{current_user.id}" %></li> 
          <li><%= link_to "ログアウト",destroy_user_session_path, method: :delete %></li>
        <% end %>
        <% else %>
          <li><%= link_to "新規登録", new_user_registration_path %></li><li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
       </ul><!--/.navbar-right-->
     </div><!-- /.navbar-collapse -->
     <!-- ログイン証明 -->
     <div class="Logged_in_as">
      <% if user_signed_in? %>
       <%= current_user.email %> さん
      <% end %>
     </div>
  </div><!-- /.container-fluid -->
</nav>