<!DOCTYPE html>
<html>
  <head>
    <title>Ecapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css">
    <!-- googlefont -->
    <!-- header -->
    <!-- メニューlogo -->
   <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Indie+Flower|Playfair+Display|Quattrocento" rel="stylesheet">
  <!-- shoplogo　　　 -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Indie+Flower|Playball|Playfair+Display|Quattrocento|Yantramanav" rel="stylesheet">
    <!-- topjsのcss -->
    <link rel="stylesheet" type="text/css" href="/assets/js/vegas/vegas.css">



  </head>

  <body>
  <!-- ここの詳細は_header.htmil.erb　 -->
    <%= render "layouts/header" %>
    
    <%= yield %>

　　<!-- topのjs -->
    <script type="text/javascript" src="/assets/js/vegas/vegas.js"></script>
    <script type="text/javascript" src="/assets/js/style.js"></script>
  </body>
</html>
