<!DOCTYPE html>
<html>
  <head>
    <title>Ecapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/header.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/user.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/admin.css">
    <!-- メニューlogo -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Indie+Flower|Playfair+Display|Quattrocento" rel="stylesheet">
    <!-- shoplogo　　　 -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Indie+Flower|Playball|Playfair+Display|Quattrocento|Yantramanav" rel="stylesheet">
    <!-- ブートストラップ -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- shoplogo　　　 -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Cinzel|Indie+Flower|Playball|Playfair+Display|Quattrocento|Yantramanav" rel="stylesheet">
    <!-- topjsのcss -->
    <link rel="stylesheet" type="text/css" href="/assets/js/vegas/vegas.css">

  </head>

  <body>


  <!-- ここの詳細は_header.htmil.erb　 -->
    <%= render "layouts/header" %>
    
    <%= yield %>

    <!-- headerのjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- topのjs -->
    <script type="text/javascript" src="/assets/js/vegas/vegas.js"></script>
    <script type="text/javascript" src="/assets/js/style.js"></script>
    
  </body>
</html>
